<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="document.f.username.focus();">


<div id="content">
    <form name="f" th:action="@{/login}" method="POST">
        <table>
            <tr>
                <td>User:</td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>
                    <input id="remember_me" name="remember_me" type="checkbox">
                    <label for="remember_me" class="inline">Remember me</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="submit" type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
</html>